
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
    max-height: 500px;
  }
  .navbar-collapse.collapse {
    display: block ;   
    height: 500px;
    padding-bottom: 0;
    overflow: visible;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -15px;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .navbar-collapse .navbar-text:last-child {
    margin-right: 0;
  }
  .lead {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.4;
}
  .header-col-auto{
      width :auto;
  }
.header-col-pro12 {
    width: 12%;
}

